@model IncidentSheet.ViewModels.AddJokerViewModel


<h1>Add New Incident</h1>

<form asp-controller="Joker" asp-action="Add" method="post">

    <div class="container">
        <div class="form-group">
            <label class="control-label" for="date">Date of Incident</label>
            <input class="form-control" asp-for="IncidentDate" type="date" placeholder="MM/dd/yyyy" value="IncidentDate" />
            <span asp-validation-for="IncidentDate"></span>
        </div>
    </div>

    <div class="container">
        <div class="form-group">
            <label class="control-label" for="date">Time of Incident</label>
            <input class="form-control" asp-for="IncidentTime" type="time" placeholder="hh:mm" value="IncidentTime" />
            <span asp-validation-for="IncidentTime"></span>
        </div>
    </div>

    <div class="container">
        <div class="form-group">
            <label class="control-label">Unit Reporting</label>
            <input class="form-control" asp-for="Unit" type="text"/>
            <span asp-validation-for="Unit"></span>
            <br />
            <br />
        </div>
    </div>

    <div class="container">
        <div class="form-group">
            <label class="control-label">Type of Incident</label>
            <input class="form-control" asp-for="Incident"/>
            <span asp-validation-for="Incident"></span>
        </div>
    </div>
    <div class="container">
        <div class="form-group">
            <label class="control-label">Summary of Incident</label>
            <textarea class="form-control" rows="20" asp-for="Summary"></textarea>
            <span asp-validation-for="Summary"></span>
        </div>
    </div>
  

    <input type="submit" value="Add Joker"/>

</form>

